*,html,body {
    font-family:"Marhey";
}


body {
    background-color: #61A5C2;
    margin: 0;
    height: 85vh;
}

section {
    padding: 20px;
    background-image: linear-gradient(#012A4A, #A9D6E5);
    height: 100%;
}

header, section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    height:5em ;
    background-color: #012A4A;
    margin-bottom: 0px;
}

.cabecalho {
    justify-content: flex-end;
}

h1 { 
    font-size:45px ; 
    color: #012A4A;  
    margin:0;   
}

.img-home {
    display: block;
    align-items: center;
    width:300px;
}

.img-home-wrapper {
    width: 300px;
    min-width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 300px;
    background-color: #FFC8DD;
}

a {
    text-decoration: none; 
}

a:visited {
    color: #000 ;
}

a:hover {
    text-decoration: underline;
}

.about-me div{
    background-color: #014F86;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    line-height: 40px;
    text-align: center;
    box-shadow: 5px 7px #A9D6E5;
    color: white;
    font-weight: 900;
    font-size: 16px;
}

.about-me div:hover {
    width: 200px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
}

.about-me:hover {
    text-decoration: none;
}

nav {
    margin-right: 20px;
    
}

nav a, nav a:visited {
    margin: 0 30px;
    color: white;
    font-size:1.25em ;
}

.dev-web {
    margin:15px 0px;  
    color:#012A4A;  
}

.dev-web span {
    color:#FFC8DD;
}
